<app-navigation></app-navigation>

<div class="container-fluid text-center">    
    <div class="row content">
     
      <div class="col-sm-10 text-left"> 
        <div *ngIf="movieDetail != undefined">

            <div class="container">
                <div class="row">           
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{moviePosterPath}}">
                          <div class="card-body">
                            <p class="card-text">Title: {{movieDetail.title}}</p>
                            <p class="card-text">Overview: {{movieDetail.overview}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <button type="button" (click)="addToWatchList()" class="btn btn-warning">Add to watchlist</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>