<app-navigation></app-navigation>

<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        <div *ngIf="movieDetail != undefined">
            <p>Movie Title:  {{movieDetail.title}}</p>
            <p><img src="{{moviePosterPath}}"></p>
        </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>Placeholder for current movies</p>
        </div>
        <div class="well">
          <p>Placeholder for current movies</p>
        </div>
        <div class="well">
          <p>Placeholder for current movies</p>
        </div>
        <div class="well">
          <p>Placeholder for current movies</p>
        </div>
        <div class="well">
          <p>Placeholder for current movies</p>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>