 
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
        <label for="criteria">Filter by Criteria</label>
        <select name="criteria">
            <option value="nowPlaying" selected (ngModelChange)='onOptionSelected($event)'> Now Playing</option>
            <option value="popular"> Popular</option>
            <option value="topRated"> Top Rated</option>
            <option value="upcoming"> Upcoming </option>
        </select>
    </div>
    <div class="col-sm-8 text-left"> 
        <div *ngIf="movieList != undefined && movieResults != undefined && movieResults.length > 0">
            <div *ngFor="let movie of movieResults">
                <p><img *ngIf="movie.poster_path" [src]="movie.poster_path" height="100px" width="100px"></p>
                <p>{{movie.title}} <span><button [routerLink]="['/movieDetail', movie.id]">Details</button></span></p> 
            </div>
        </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Placeholder for current movies</p>
      </div>
      <div class="well">
        <p>Placeholder for current movies</p>
      </div>
      <div class="well">
        <p>Placeholder for current movies</p>
      </div>
      <div class="well">
        <p>Placeholder for current movies</p>
      </div>
      <div class="well">
        <p>Placeholder for current movies</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
