<app-navigation></app-navigation>

<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
       
      </div>
      <div class="col-sm-8 text-left"> 
        <div *ngIf="watchList.length > 0" >
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div *ngIf="isDeleted != ''"  class="alert alert-danger" role="alert">
                            <span >{{isDeleted}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let item of watchList"> 
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                            <div class="panel-heading">{{item.movieTitle}} 
                                <button style="margin-left: auto; margin-right:0;" class="btn btn-danger" 
                                (click)="removeFromWatchList(item._id)">Delete</button>
                                <button class="btn btn-success" [routerLink]="['/movieDetail', item.movieId]">Details</button>
                            </div>
                            <div class="panel-body"><img src="{{item.moviePoster}}" class="img-responsive" style="width:100%" alt="Image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-2 sidenav">
        
      </div>
    </div>
  </div>

  <app-footer></app-footer>